
@{
    ViewBag.Title = "Index";
}

@{
    var options = new AjaxOptions()
    {
        UpdateTargetId = "DivContent",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get",
        OnBegin = "onLoadBegin",
        OnSuccess = "onLoadSuccess"
    };

}
<br/>
@Ajax.ActionLink("Employees", "GetEmployees", "Employee", options,new { @class = "btn btn-primary" })

<hr/>

<div id="DivContent">
    Your PartialView Will be here. 
</div>



   @Html.Partial("_LoadMe")


