@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Load Me AJAX</h1>
    <p class="lead">Load Me AJAX on ASP.NET MVC 5</p>
    <p><a href="http://a-hamoud.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>